<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h2>Update Profile</h2>
      <%= simple_form_for @user, method: :put do |f| %>
      <div class="form-inputs">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :birth_date, start_year: Date.today.year - 110, end_year: Date.today.year, input_html: { class: 'datepicker'} %>
        <%= f.input :location, as: :string, label: 'Address', placeholder: "5333 Casgrain Ave" %>
        <%= f.input :description, as: :text, hint: "Tell us about yourself" %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :photo, as: :attachinary %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "UPDATE", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

