<div id="toggle_for_sidebar"></div>

<div class="container margin-top">
  <div class="row">

    <!-- THIS IS THE FILTER TO BLACKEN THE PAGE WHEN SIDEBAR IS ACTIVE -->


      <div class ="col-xs-4">
         <%= render 'form_age' %>
        <%= link_to 'age', user_registration_path, class: "btn btn-raised btn-filter"%>

      </div>
      <div class ="col-xs-4">
         <%= render 'form_instrument' %>
        <%= link_to 'instrument', user_registration_path, class: "btn btn-raised btn-filter"%>
      </div>
      <div class ="col-xs-4">
         <%= render 'form_level' %>
        <%= link_to 'level', user_registration_path, class: "btn btn-raised btn-filter"%>
      </div>
 



    <% @users.each do |user| %>
    <div class="col-xs-12">

      <div class="card-medlii" style=" background-image: url('<%= image_path "blue_background.jpg" %>');">
        <div class="card-content">




        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>

