<div class="white-background" style="background-image: url('<%= asset_path "white_background.png" %>');"></div>
<div class="container margin-top">
  <div class="row">

    <div class = "search-recipient">
      <%= render 'form_search' %>
    </div>

    <% @users.each do |user| %>
    <% unless user == current_user %>
    <div class="col-xs-12">
      <div class="card-medlii" style=" background-image: url('<%= asset_path "blue_background.jpg" %>');">
        <div class="flexbox-profile-picture">
          <% if user.photo.nil? %>
          <% avatar_url = user.facebook_picture_url || "http://placehold.it/30x30" %>
          <% else %>
          <% avatar_url = user.facebook_picture_url || cl_image_path(user.photo.path) || "http://placehold.it/30x30" %>
          <% end %>
          <div class = "avatar-large" style=" background-image: url('<%=avatar_url %>');">
          </div>
        </div>
        <!-- USER AGE IN HERE  -->
        <div class="card-content">
        <div class="flex-container-info">
          <div class="user-info">
            <%= user.first_name.upcase %> <%= user.last_name.upcase %>
            <p id="age"> <%= user.age %> years old</p>
          </div>
          </div>
          <div class='instruments-container'>
            <div class="user-instruments">
              <%  user.played_instruments.first(3).each do |played_instrument| %>
              <div class="instrument-level">
                <%= truncate(Instrument.find(played_instrument.instrument_id).name, length: 20) %>
                <div class ="circles_level">
                  <% played_instrument.level.times do %>
                  <div class="dot-filled dot-filled-blue"></div>
                  <% end %>
                  <% (5 - played_instrument.level).times do %>
                  <div class="dot dot-blue"></div>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
          </div>

        </div>
          <div class="distance-away">
            <% distance = (Geocoder::Calculations.distance_between(current_user.location, user.location, {units: :km})) %>
            <% if distance.nan? %>
              Unknown distance
            <% else %>
              <%= distance.to_f.round %>km away
            <% end %>
          </div>
        <%= link_to '', user_path(user), class: "card-link"%>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>
<script >
// JAVASCRIPT FOR THE AGE SLIDER
$(document).ready(function() {
  var html5Slider = document.getElementById('input-select');
  noUiSlider.create(html5Slider, {
   start: [ 10, 30 ],
   tooltips: [ wNumb({ decimals: 0 }), wNumb({ decimals: 0 })],
   connect: true,
   margin: 1,
   behaviour: 'tap-drag',
       // direction: 'rtl',
       step: 1,
       // tooltips: [false, wNumb({ decimals: 1}), true],
       range: {
         'min': 10,
         'max': 80
       }
     });

  html5Slider.noUiSlider.on('update', function( values, handle ) {
    $('#min_age').val(values[0]);
    $('#max_age').val(values[1]);
  });
  // ENDS HERE

  var html5Slider = document.getElementById('distance-select');
  noUiSlider.create(html5Slider, {
   start: 50,
   tooltips: [ wNumb({ decimals: 0 })],
   margin: 1,
       // direction: 'rtl',
       step: 1,
       connect: "lower",
       range: {
         'min': 0,
         'max': 100
       }
     });
  html5Slider.noUiSlider.on('update', function( values, handle ) {
    $('#distance').val(values[0]);
  });

  function dots_search(){
    $('.ratingComponent__dot').on('click', function(){
      $(this).addClass("hover")
      $(this).prevAll().removeClass("hover")
      var level = $(this).attr('id');
      console.log(level);
      $('#level').val(level);
    });

    $('#1').on('click', function(){
      $('.level_description').empty().append('<p>1: <i>beginner</i> </p>')
    });
    $('#2').on('click', function(){
      $('.level_description').empty().append('<p>2: <i>amateur</i> </p>')
    });
    $('#3').on('click', function(){
      $('.level_description').empty().append('<p>3: <i>intermediate</i> </p>')
    });
    $('#4').on('click', function(){
      $('.level_description').empty().append('<p>4: <i>semi-pro</i> </p>')
    });
    $('#5').on('click', function(){
      $('.level_description').empty().append('<p>5: <i>pro</i> </p>')
    });
  };
  dots_search()


  $('#logo-medlii').click(function(){
    $('.search-recipient').toggleClass('slidedown');
  });
});


</script>
<% end %>

