<div class="background" style="background-image: url('<%= image_path "blue_background.jpg" %>');"> </div>
  <div class="profile-page margin-top">
    <div class="flexbox-picture">
      <% avatar_url = @user.facebook_picture_url || cl_image_path(@user.photo.path) || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: 'avatar-large'%>
      <% if @user.id != current_user.id %>
      <% end %>
    </div>

    <div class="user-show">
      <div class="user-name-show">
        <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>
      </div>
      <div class="user-description">
        <%= @user.description %>
      </div>
      <div class="message">
        <%= link_to "MESSAGE", '', class: "link-message", id: 'link-message' %>
      </div>
    </div>

    <div class="profile-instruments">
      <div class="flexbox-icon">
        <%= image_tag 'piano-keys-part', id: 'icon-piano' %>
      </div>
      <div class='instruments-container'>
      <div class="user-instruments for-profile">
      <%  @user.played_instruments.each do |played_instrument| %>
        <div class="instrument-level">
          <span><%= truncate(Instrument.find(played_instrument.instrument_id).name, length: 20) %></span>
          <div class ="circles_level">
            <% played_instrument.level.times do %>
            <div class="dot-filled dot-filled-white"></div>
            <% end %>
            <% (5 - played_instrument.level).times do %>
            <div class="dot dot-white"></div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      </div>
    </div>


  </div>
