<div class="background" style="background-image: url('<%= asset_path "blue_background.jpg" %>');"> </div>
<%= link_to :back, id:'back-arrow' do %>
  <i class="fa fa-angle-left" aria-hidden="true"></i>
<% end %>
<% if @user == current_user %>
<%= link_to '', edit_user_registration_path, class: 'fa fa-pencil cross edit', id: 'edit' %>
<% end %>
<div class="profile-page margin-top">
  <div class="flexbox-picture">
    <div id="picture">
      <% avatar_url = @user.facebook_picture_url || cl_image_path(@user.photo.path) || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: 'avatar-large'%>

    </div>
  </div>
  <div class="user-show">
  <div class="flex-container-info">
    <div class="user-info show-top">
      <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>
      <p id="age"> <%= @user.age %> years old</p>
    </div>
    </div>
    <div class="user-description">
      <%= @user.description %>
    </div>
    <% if @user.id != current_user.id %>
      <div class="message-link">
        <%= link_to "MESSAGE", conversations_path(conversation: {user2: @user.id}), method: :post, class: "link-message", id: 'link-message' %>
      </div>
    <% end %>
  </div>
  <div class="profile-instruments">
    <div class="flexbox-icon">
      <%= image_tag 'piano-keys-part.png', id: 'icon-piano' %>
    </div>
    <div class='instruments-container'>
      <div class="user-instruments for-profile">
        <%  @user.played_instruments.each do |played_instrument| %>
          <div class="instrument-level">
            <span><%= truncate(Instrument.find(played_instrument.instrument_id).name, length: 20) %></span>
            <div class ="circles_level">
              <% played_instrument.level.times do %>
                <div class="dot-filled dot-filled-white"></div>
              <% end %>
              <% (5 - played_instrument.level).times do %>
                <div class="dot dot-white"></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if @user.song.present? %>

      <div class="flexbox-icon">
        <%= image_tag 'piano-keys-part.png', id: 'icon-piano' %>
      </div>
      <div class='instruments-container'>
        <div class="user-instruments for-profile">
         <div class='container'>
            <iframe src="https://open.spotify.com/embed?uri=spotify:track:<%= @user.song.split('/')[-1] %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
          </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>




<% content_for :after_js do %>
<% if @user.description.blank? %>
<script>
$('.user-show').addClass('no-description')
$('.user-description').remove()
$('.profile-instruments').addClass('top-no-description')
</script>
<% end %>
<% end %>
