<% if user_signed_in? %>
  <div class="sidebar">
    <ul class="sidebar-list">
      <li>
        <% avatar_url = @user.facebook_picture_url || cl_image_path(@user.photo.path) || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: 'avatar-square'%>
      </li>
      <li>
        <h2><%= current_user.first_name %> <%= current_user.last_name.capitalize.first %>, <%= current_user.age %></h2>
      </li>
      <div class="h_line"></div>
      <li>
        <%= link_to edit_user_registration_path do %>
          <h3>Edit Profile</h3>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path do %>
          <h3>SIGN OUT</h3>
        <% end %>
      </li>
    </ul>

    <div class="sidebar-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
<% end %>
