<% if user_signed_in? %>
  <div class="sidebar">
    <ul class="sidebar-list">
      <li>
        <% avatar_url = @user.facebook_picture_url || cl_image_path(@user.photo.path) || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: 'avatar-square'%>
      </li>
      <li>
        <h2><%= current_user.first_name %> <%= current_user.last_name.capitalize.first %>. <span class="age-font-size"><%= current_user.age %></span></h2>
      </li>
      <div class="h_line"></div>
      <li>
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-user"></i>  <%= t(".edit", default: "Edit Profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "SIGN OUT") %>
        <% end %>
      </li>
    </ul>

    <div class="sidebar-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
<% end %>
