<% if user_signed_in? %>
  <div class="sidebar">
    <div class="sidebar-decoration" style=" background-image: url('<%= asset_path "blue_background.jpg" %>');">
      <div class="sidebar-people" style=" background-image: url('<%= asset_path "sidebar_people.png" %>');"> <span id="medlii-sidebar">medlii.</span> </div>
      <div id="cross-sidebar"> <i class="material-icons">clear</i></div>
    </div>

  <div class="links-sidebar">
    <%= link_to 'APPOINTMENTS', appointments_path, class: 'link-sidebar', id: 'appointments' %>
    <%= link_to 'MESSAGES', conversations_path, class: 'link-sidebar', id: 'messages' %>
    <%= link_to 'SEARCH', users_path, class: 'link-sidebar', id: 'search' %>
    <%= link_to 'MY MEDLII', user_path(current_user), class: 'link-sidebar', id: 'mymedlii' %>
    <%= link_to 'LOG OUT', destroy_user_session_path, class: 'link-sidebar', id: 'logout', method: :delete %>
  </div>
</div>


<% content_for :after_js do %>

<script>
  current_url = window.location.pathname

  if(current_url === "<%= users_path %>"){
    $('#search').addClass('active');
  }

<% if @user %>
  if(current_url === "<%= user_path(@user) %>" && <%= @user.id != current_user.id %>){
  $('#search').addClass('active');
  }

  if(current_url === "<%= user_path(current_user) %>" && <%= @user.id == current_user.id %>){
    $('#mymedlii').addClass('active');
  }
  <% end %>

if(current_url === "<%= conversations_path %>" || current_url === "<%= new_conversation_path %>"){
    $('#messages').addClass('active');
  }

if(current_url === "<%= appointments_path %>"){
    $('#appointments').addClass('active');
  }

</script>

<% end  %>
<% end %>

