  <div class="sidebar">

<div class="sidebar-decoration" style=" background-image: url('<%= image_path "blue_background.jpg" %>');">
<div class="sidebar-people" style=" background-image: url('<%= image_path "sidebar_people.png" %>');"> <span id="medlii-sidebar">medlii.</span> </div>
<div id="cross-sidebar"> <i class="material-icons">clear</i></div>
</div>

    <div class="links-sidebar">
      <%= link_to 'MY MEDLII', user_path(current_user), class: 'link-sidebar' %>
        <%= link_to 'EDIT PROFILE', edit_user_registration_path(current_user), class: 'link-sidebar' %>

        <%= link_to 'LOG OUT', destroy_user_session_path, class: 'link-sidebar', method: :delete %>
    </div>
  </div>

