

<%= simple_form_for([@conversation, @appointment], html: { method: :post }) do |f| %>
<div class="partial_form">
  <%= f.input :address, as: :string, label: "Where do you want to meet?", placeholder: "5333 Casgrain Ave" %>
  <%= f.input :date, as: :datetime, start_year: Date.today.year, end_year: Date.today.year + 110%>
  <%= f.hidden_field :user_id, value: "current_user.id" %>
  <%= f.hidden_field :conversation_id, value: params[:conversation_id] %>

<%= f.button :submit, "Let's play!" %>
</div>
<% end %>


