<div class="background" style="background-image: url('<%= image_path "blue_background.jpg" %>');"> </div>
<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12">

    <div class="new-conversation">
      <h2>MY</h2> <h2>APPOINTMENTS</h2>
    </div>
            <% current_user.appointments.each do |appointment| %>
            <% if appointment.other_user.photo.nil? %>
            <% avatar_url = appointment.other_user.facebook_picture_url || "http://placehold.it/30x30" %>
            <% else %>
            <% avatar_url = appointment.other_user.facebook_picture_url || cl_image_path(appointment.other_user.photo.path) || "http://placehold.it/30x30" %>
          <% end %>
            <div class="card-conversations">
          <div class="flexbox-title-conv">
            <%= appointment.other_user.first_name %> <%= appointment.other_user.last_name %>
          </div>
        <div class="picture-conv" style="background-image: url('<%= avatar_url %>');"></div>
        <div class="address-card">
          <p> <%= appointment.address %></p>
        </div>
          <div class="datetime-card">
           <p> <%= appointment.date %></p>
          </div>
      </div>

<% end %>




  </div>
  </div>
</div>

